@import "addons.scss";
@import "../valo/_valo.scss";

$dark-background-color: #000000;
$highlight-color: #ffffff;

$margin-size: 6px;

/* This file prefixes all rules with the theme name to avoid causing conflicts with other themes. */
.trek {
$v-focus-color: white;
$v-background-color: $dark-background-color;
$v-app-background-color: $dark-background-color;

  @include synergy;
  @include synergy($primary-stylename: "synergy-engineering", $background-color: #00ffff);
  @include synergy($primary-stylename: "synergy-weapons", $background-color: #ff8000);
  @include valo;

}
