/* Import the base theme.*/
@import "../base/base.scss";

/* This contains all of your theme.*/
/* If somebody wants to extend the theme she will include this mixin. */
@mixin app {
  /* Include all the styles from the base theme */
  @include base;

  /* Insert your theme rules here */

$akzentfarbe: green;
$schriftfarbe: #222222;
$font-stack: "Segoe UI Light_", "Open Sans Light", Verdana, Arial, Helvetica, sans-serif;

	font-family: $font-stack;

	.v-button {
	    background-color: $akzentfarbe;
	    border: 1px solid transparent;
	    border-radius: 0;
	    color: $schriftfarbe;
	    cursor: pointer;
	    display: inline-block;
	    margin: 2px;
	    padding: 4px 12px;
	    font-size: 14px;
	    line-height: 16px;
	    text-align: center;
	    outline: medium none;
	    font-family: $font-stack
/*	
	    vertical-align: middle !important;
	*/
	}
	
	.v-splitpanel-hsplitter {
		background: transparent;
	}
	
	.v-splitpanel-hsplitter div {
		width: 1px;
		background: #ccc;
	}
	
	.v-table-header {
	    margin-bottom: 14pt;
	    background-color: transparent;
	    border-collapse: collapse;
	    border-spacing: 0;
	}
}
