// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

$v-focus-color: rgb(147,241,0);
$synergy-background-color: #50514e;

@import "../valo/valo.scss";

@mixin teleport2 {
  @include valo;

  // Insert your own theme rules here
  .v-button-up {
    @extend .v-button;
    background: #f00;
    border-color: $v-focus-color;
    color: $v-focus-color;
  }
  .v-button-down {
    @extend .v-button;
    background: #0f0;
    border-color: $v-focus-color;
    color: $v-focus-color;
  }

  .v-layout-synergy {
  	background: $synergy-background-color;
  	color: white;
  }
  
  .v-horizontallayout-synergy, .v-verticallayout-synergy {
  	@extend .v-layout-synergy;
  }



.v-button-synergy-unselected {
    border: 0;
    margin: 5px;    

    box-shadow: none;

  &:focus:after {
      box-shadow: none;
  }

  	color: valo-font-color(lighten($synergy-background-color, 30%));
  	background: lighten($synergy-background-color, 30%);
	&:hover {
		&:after {
		  	box-shadow: 0 0 0 2px $v-selection-color;
		}
	}
  }
  .v-button-synergy-selected {
    border: 0;
    margin: 5px;    

    box-shadow: none;

  &:focus:after {
      box-shadow: none;
  }
  	color: valo-font-color($v-selection-color);
    background: $v-selection-color;
  }
  .v-button-synergy-ancestor-of-selected {
    border: 0;
    margin: 5px;    

    box-shadow: none;

  &:focus:after {
      box-shadow: none;
  }
  	color: valo-font-color(lighten($v-selection-color, 30%));
    background: lighten($v-selection-color, 30%);
  }

}
