@import "addons.scss";
@import "../valo/_valo.scss";

$v-focus-color: rgb(147,241,0);
$dark-background-color: #50514e;
$v-background-color: $dark-background-color;
$highlight-color: #f0c700;

$margin-size: 6px;

/* This file prefixes all rules with the theme name to avoid causing conflicts with other themes. */
.syngenio {
  @include synergy;
  @include valo;

  .v-label-greenbar {
  	background: $v-selection-color;
  }

	.v-splitpanel-hsplitter {
		div:before {
			border: 3px solid $v-selection-color;
		}
	}
	
  .v-slot-greenbar {
  	height: 3px;
  }
  
  .v-panel-content {
  	background: white;	
  }
  
  .v-required-field-indicator {
  	color: $v-focus-color;
  }
}
